.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.body {
  padding-top: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dropdown {
  width: 300px;
  padding-left: 42%;
  align-self: center;
}

.expla {
  width: 300px;
  width: 300px;
  padding-left: 42%;
  align-self: center;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
